[submodule "script.service.audo"]
	path = script.service.audo
	url = git@github.com:lsellens/script.service.audo.git
[submodule "script.module.audo-programs"]
	path = script.module.audo-programs
	url = git@github.com:lsellens/script.module.audo-programs.git
[submodule "script.module.audo"]
	path = script.module.audo
	url = git@github.com:lsellens/script.module.audo.git
[submodule "script.module.audo-dependencies"]
	path = script.module.audo-dependencies
	url = git@github.com:lsellens/script.module.audo-dependencies.git
[submodule "service.downloadmanager.SickPotatoHead"]
	path = service.downloadmanager.SickPotatoHead
	url = git@github.com:lsellens/service.downloadmanager.SickPotatoHead.git
[submodule "script.module.RPi.GPIO"]
	path = script.module.RPi.GPIO
	url = git@github.com:lsellens/script.module.RPi.GPIO.git
[submodule "script.module.distutils"]
	path = script.module.distutils
	url = git@github.com:lsellens/script.module.distutils.git
[submodule "script.service.rpi.tv.switch"]
	path = script.service.rpi.tv.switch
	url = git@github.com:lsellens/script.service.rpi.tv.switch.git
[submodule "script.service.nodoze"]
	path = script.service.nodoze
	url = git@github.com:lsellens/script.service.nodoze.git
[submodule "service.downloadmanager.transmission"]
	path = service.downloadmanager.transmission
	url = git@github.com:lsellens/service.downloadmanager.transmission.git
[submodule "script.service.unfsd"]
	path = script.service.unfsd
	url = git@github.com:lsellens/script.service.unfsd.git
[submodule "metadata.scraper.moviesetartwork"]
	path = metadata.scraper.moviesetartwork
	url = git@github.com:lsellens/metadata.scraper.moviesetartwork.git
[submodule "script.service.nfs-ganesha"]
	path = script.service.nfs-ganesha
	url = git@github.com:lsellens/script.service.nfs-ganesha.git
