<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
   <!-- unfs3 -->
    <category label="32000">
		<setting label="32001" id="SHARES" type="labelenum" values="0|1|2|3|4|5|6|7|8|9|10" default="0"/>
		<setting type="sep"/>
		<setting label="32002" id="SHARE_FOLDER0" type="folder" enable="gt(-2,0)"/>
		<setting label="32003" id="PERMISSION0" type="labelenum" enable="gt(-3,0)" values="rw|ro" subsetting="true"/>
		<setting type="sep"/>
		<setting label="32004" id="SHARE_FOLDER1" type="folder" enable="gt(-5,1)"/>
		<setting label="32005" id="PERMISSION1" type="labelenum" enable="gt(-6,1)" values="rw|ro" subsetting="true"/>
		<setting type="sep"/>
		<setting label="32006" id="SHARE_FOLDER2" type="folder" enable="gt(-8,2)"/>
		<setting label="32007" id="PERMISSION2" type="labelenum" enable="gt(-9,2)" values="rw|ro" subsetting="true"/>
		<setting type="sep"/>
		<setting label="32008" id="SHARE_FOLDER3" type="folder" enable="gt(-11,3)"/>
		<setting label="32009" id="PERMISSION3" type="labelenum" enable="gt(-12,3)" values="rw|ro" subsetting="true"/>
		<setting type="sep"/>
		<setting label="32010" id="SHARE_FOLDER4" type="folder" enable="gt(-14,4)"/>
		<setting label="32011" id="PERMISSION4" type="labelenum" enable="gt(-15,4)" values="rw|ro" subsetting="true"/>
		<setting type="sep"/>
		<setting label="32012" id="SHARE_FOLDER5" type="folder" enable="gt(-17,5)"/>
		<setting label="32013" id="PERMISSION5" type="labelenum" enable="gt(-18,5)" values="rw|ro" subsetting="true"/>
		<setting type="sep"/>
		<setting label="32014" id="SHARE_FOLDER6" type="folder" enable="gt(-20,6)"/>
		<setting label="32015" id="PERMISSION6" type="labelenum" enable="gt(-21,6)" values="rw|ro" subsetting="true"/>
		<setting type="sep"/>
		<setting label="32016" id="SHARE_FOLDER7" type="folder" enable="gt(-23,7)"/>
		<setting label="32017" id="PERMISSION7" type="labelenum" enable="gt(-24,7)" values="rw|ro" subsetting="true"/>
		<setting type="sep"/>
		<setting label="32018" id="SHARE_FOLDER8" type="folder" enable="gt(-26,8)"/>
		<setting label="32019" id="PERMISSION8" type="labelenum" enable="gt(-27,8)" values="rw|ro" subsetting="true"/>
		<setting type="sep"/>
		<setting label="32020" id="SHARE_FOLDER9" type="folder" enable="gt(-29,9)"/>
		<setting label="32021" id="PERMISSION9" type="labelenum" enable="gt(-30,9)" values="rw|ro" subsetting="true"/>
    </category>
</settings>
